@import '@/styles/spacing.scss';
@import '@/styles/flex.scss';
@import '@/styles/variables.scss';
@import '@/styles/font.scss';
@import '@/styles/input.scss';
@import '@/styles/button.scss';
@import '@/styles/sizes.scss';
@import '@/styles/position.scss';
@import '@/styles/backgrounds.scss';
@import '@/styles/utils.scss';
@import '@/styles/components/modal.scss';

html, body {
  height: max-content;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 680px !important;
  padding-left: 20px;
  padding-right: 20px;
}

