.flex {
  display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between
}

.align-center {
  align-items: center;
}
// Grow
@mixin flex-grow($value) {
	flex-grow: $value;
}
  
@for $i from 1 through 5 {
	.flex-grow-#{$i} {
	  @include flex-grow($i);
	}
}