.my-input {
	width: 100%;
	border: 2px solid gray;
	border-radius: 3px;
	padding: 15px 9px;
	font-size: 17px;
	transition: 0.3s;
	color: #183752;
	box-sizing: border-box;
	&.search{
		background: #fff;
		padding: 13px 32px;
		&.active{
			box-shadow: grey 0px 0px 7px;
		}
	}
	&:focus {
		border-color: var(--primary);	
	}
}