.max-width-50 {
  max-width: 50%;
}

.min-width-50 {
  min-width: 50%;
}

.min-width-30 {
  width: 30%;
}

.min-width-35 {
  width: 35%;
}
.width-50 {
  width: 50%;
}
.widht-90 {
  width: 90%;
}

.min-height-500 {
  min-height: 500px;
}

.height-max {
  height: 100vh
}